<section class="chat">
 <header class="header">
    <h1>Chats</h1>
    <input class="new-chat" placeholder="Chat Name" autofocus="" [(ngModel)]="newChat.roomName">
    <input class="new-chat" placeholder="Chat Description" autofocus="" [(ngModel)]="newChat.roomDescription">
    <button class="new-chat" (click)="addChat()"></button>
  </header>
  <section class="main" *ngIf="chats.length > 0">
    <button (click)="getChats()"></button>
    <ul class="chat-list">
      <li *ngFor="let chat of chats">
        <div class="view">
          <label>{{chat.roomName}}</label>
          <label>{{chat.roomDescription}}</label>
          <label>{{chat.lastActive}}</label>
<!--           <button class="join" (click)="joinChat(chat.id)"></button> -->
          <a [routerLink]="['/chat',  chat.roomId ]">{{chat.roomName}}</a>
        </div>
      </li>
    </ul>
  </section>
</section>